<hr class="">
<div class="row" style="margin:0px 0px 10px 0px; padding:0xp 20px;">
    <div class="col-md-12 text-center">
        &copy 2019 <a href="{{site_url}}">{{project_name}}</a>
        &nbsp;
        <a href="{% url 'surveyapp:about' %}" >About</a>
        &nbsp;
        <a href="{% url 'surveyapp:contact' %}" >Contact</a>
        &nbsp;
        <a href="{% url 'surveyapp:terms' %}" >Terms and conditions</a>
        &nbsp;
        <a href="{% url 'surveyapp:privacy' %}" >Privacy Policy</a>
        &nbsp;
    </div>
</div>